@import "./icons.scss";

// Dark Theme
@import "./bootstrap-dark.scss";
@import "./app-dark.scss";

// Light Theme
//@import "./bootstrap.scss";
//@import "./app.scss";

// // RTL Mode
// @import "./rtl/bootstrap-rtl";
// @import "./rtl/components-rtl";
// @import "./rtl/float-rtl";
// @import "./rtl/general-rtl";
// @import "./rtl/pages-rtl";
// @import "./rtl/plugins-rtl";
// @import "./rtl/spacing-rtl";
// @import "./rtl/structure-rtl";
// @import "./rtl/text-rtl";

body {
  * {
    outline: none;
  }
}

#sidebar-menu {
  ul {
    li {
      a {
        i {
          min-width: 2rem;
        }
      }
    }
  }
}

.leaflet-pane {
  z-index: 1;
}
svg > rect:first-child {
  fill-opacity: 0 !important;
}
.dataTables_filter,
.dataTables_paginate {
  float: right;
}
.rdw-editor-main {
  border: 1px solid $gray-300;
  height: 239px;
  padding-left: 15px;
}
.dz-message {
  text-align: center;
  padding: 30px;
}
// kanban board
.react-kanban-column {
  height: 100%;
  min-height: 28px;
  display: inline-block;
  padding: 15px;
  border-radius: 2px;
  background-color: rgb(238, 238, 238);
  margin: 5px;
  vertical-align: top;
}
.fcYNFc,
.sc-AxmLO.gmtmqV {
  background-color: $card-bg !important;
  margin: 0 20px 0 0 !important;
}
.task-box {
  border: 1px solid $border-color;
}
.react-datepicker-wrapper {
  width: 100% !important;
}
.ReactModal__Overlay {
  z-index: 1001 !important;
}
.external-event {
  &:hover {
    cursor: pointer;
  }
}
a:hover {
  cursor: pointer;
}
.rating-container {
  background-color: transparent !important;
}
.input-group-append {
  z-index: 0;
}
.input-color {
  color: $input-color !important;
}
.sketch-picker {
  position: absolute;
  z-index: 1;
}
.rangeslider__fill {
  background-color: $primary !important;
}

.dropdown-menu-end {
  left: auto !important;
  right: 0 !important;
}

.flatpickr-months .flatpickr-month {
  background: $primary !important;
}
.flatpickr-weekdays {
  background: $primary !important;
}
span.flatpickr-weekday {
  background: $primary !important;
}
.flatpickr-current-month .flatpickr-monthDropdown-months {
  background: $primary !important;
}
span.flatpickr-weekday {
  color: $white !important;
}
.flatpickr-day.selected {
  background: $primary !important;
}

.bs-select select {
  width: auto !important;
}

//File-manager
.file-manager {
  .table td {
    padding: 0.35rem;
  }
}

//Authenication carousel
.slider_css {
  .slide {
    background: none !important;
  }

  .carousel-status,
  .control-next,
  .control-prev {
    display: none !important;
  }
}
.carousel {
  .control-dots {
    margin: -5px 0px;
  }
  .dot {
    background: #556ee6 !important;
    width: 9px !important;
    height: 9px !important;
  }
}

//Two verification Page
.verification {
  input {
    &:focus {
      border: none;
      outline: none !important;
    }
  }
}

@media (max-width: 768px) {
  .verification {
    input {
      width: 40px !important;
    }
  }
}

@media (max-width: 320px) {
  .verification {
    input {
      width: 30px !important;
      height: 30px !important;
      font-size: 15px !important;
    }
  }
}

//Two verification Page - 2
.verification-2 {
  input {
    &:focus {
      border: none;
      outline: none !important;
    }
  }
}

@media (max-width: 768px) {
  .verification-2 {
    input {
      width: 40px !important;
      font-size: 14px;
    }
  }
}

@media (max-width: 320px) {
  .verification-2 {
    input {
      width: 30px !important;
      height: 35px !important;
      font-size: 15px !important;
    }
  }
}

//Calendar
.fc-direction-ltr .fc-daygrid-event.fc-event-end,
.fc-direction-rtl .fc-daygrid-event.fc-event-start {
  padding: 5px !important;
  font-size: 12px !important;
  margin-right: 2px;
}

@include media-breakpoint-down(sm) {
  .fc-toolbar {
    display: block !important;
    text-align: center;
    .fc-left,
    .fc-right,
    .fc-center {
      float: none;
      display: block;
      clear: both;
      margin: 10px 0;
    }
  }
  .fc {
    .fc-toolbar {
      > * {
        > * {
          float: none;
        }
      }
    }
  }
  .fc-today-button {
    display: none;
  }
}

//Chat Scrollbar
.ps__rail-y {
  z-index: 999999 !important;
}
.close {
  background: transparent;
  border: 0;
  font-size: 10px;
  padding: 1.35rem 1.25rem;
  background: transparent escape-svg($btn-close-bg) center / $btn-close-width
    auto no-repeat;
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0.5;
  width: 1em;
  height: 1em;
  z-index: 2;
  span {
    display: none;
  }
}

//
// Columns
//
.mainStage{
  margin-left:0px;
  margin-right:0px;
  width: 100%;
  padding-left:0px;
  padding-right:0px;
}

.card-columns {
  .card {
    margin-bottom: $grid-gutter-width;
  }

  @include media-breakpoint-up(sm) {
    column-count: 3;
    column-gap: 1.25rem;
    orphans: 1;
    widows: 1;

    .card {
      display: inline-block; // Don't let them vertically span multiple columns
      width: 100%; // Don't let their width change
    }
  }
}

/* drawer */
.react-drawer-drawer {
  z-index: 9999;
  background: #fff;
}
.drawer-main-menu {
  padding-top: 8px;
  padding-bottom: 8px;
}
.drawer-menu a i {
  min-width: 2rem;
  display: inline-block;
  min-width: 1.75rem;
  padding-bottom: 0.125em;
  font-size: 1.25rem;
  line-height: 1.40625rem;
  vertical-align: middle;
  color: #7f8387;
  transition: all 0.4s;
}
.drawer-menu a {
  display: block;
  padding: 0.625rem 1.5rem;
  color: #545a6d;
  position: relative;
  font-size: 13px;
  transition: all 0.4s;
}
.drawer-close {
  padding: 0.5rem 0.5rem;
  margin: -0.5rem -0.5rem -0.5rem auto;
}
.ReactModal__Overlay {
  z-index: 5000 !important;
}
.rangeslider__handle:focus {
  outline: none;
}
// React Table next css
.react-bootstrap-table-page-btns-ul {
  float: right !important;
}
.search-label {
  float: right;
}
.react-drawer-overlay {
  z-index: 9999;
}

// datatable

.react-bs-table-sizePerPage-dropdown {
  .dropdown-menu {
    .dropdown-item {
      a {
        display: block;
      }
    }
  }
}
.rightbar-title .right-bar-toggle {
  background-color: #444c54 !important;
  height: 24px !important;
  width: 24px !important;
  line-height: 24px !important;
  display: block !important;
  color: #eff2f7 !important;
  text-align: center !important;
  border-radius: 50% !important;
}

.modelInfo a{
  color: #ffffff;
}

//rightbar drawer
.css-sourceMap-modules-importLoaders-1-localIdentName-animate__animated___2O131 {
  animation-duration: 0.6s !important;
}
.css-sourceMap-modules-importLoaders-1-localIdentName-ReactDrawer__overlay___2QFmC-sass {
  background: rgba(0, 0, 0, 0.15) !important;
}

.intelBar{
  display: block;
  z-index: 99;
  backdrop-filter: blur(55px) saturate(280%);
  -webkit-backdrop-filter: blur(55px) saturate(280%);
  background-color: rgba(17, 25, 40, 0.85);
  border-radius: 7px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  position: absolute;
  padding: 0 10px;
  top: 138px;
  left: 20px;
  width: 300px;
  height: 75vh;
}

.intelify{
  font-size:30px;
  color: rgb(33, 190, 211);
  margin:0 6px 0 6px;
}


/* AutoGraph and Graph Areana Styling */
.gBack{
  backdrop-filter: blur(55px) saturate(280%);
  -webkit-backdrop-filter: blur(55px) saturate(280%);
  background-color: rgba(17, 25, 40, 0.85);
  border-radius: 7px;
  border: 1px solid rgba(255, 255, 255, 0.25);
}
.px-25w{
  height: 100%;
  width:25px;
}
.live-input{
  height: .50em;
  width: 30px;
}
.form-switch .form-check-input{
  border-radius:.75em;
  }
.live-label{
  font-size: 14px;
  margin-top:0px;
  position:absolute;
  bottom:0px;
  right:0px;
}
.toolSet{
  display: block;
  z-index: 99;
  position: absolute;
  left:330px;
  top:130px;
  height:50px;
  min-width:250px;
  font-size: 25px;
}

.graphHud img{
  display: block;
  z-index: 99;
  position: absolute;
  top:141px;
  right:10px;
  height:auto;
  width:220px;
  font-size: 14px;
}
.infoSet{
  display:block;
  z-index: 99;
  height:50px;
  width:100px;
  color: #fff;
}
.topIMG{
  width:800px;
}
.int{
  width:18px;
}
/* Inteloo Styling */
.intelooMain{
  margin-top:130px;
}

// monolic page
.bread-bar {
  position: absolute;
  width: 100%;
  top: 124px;
  padding: 8px 8px 8px 3rem;  
  background: #212121;
  text-transform: uppercase;
  z-index: 99;
}   

.mono-mic {
  .intelBar {
    display: block;
    top: 170px;
    left: 0;
    width: 20rem;
    padding: 0;
    border: none;
    background: #222736;
  }

  .link {
    display: block;
    padding: 4.7rem 0 10px 16px;
    background: #353a48;
    margin-bottom: 12px;
    border-radius: 0 1.5rem 1.5rem 0;
    transition: background .25s;

    i {
      margin-right: 1rem;
      font-size: 40px;
      color: #212226;
    }

    span {
      font-size: 20px;
      color: #697680;
      text-transform: uppercase;
      transition: color .25s;
    }

    &:hover, &.active {
      background: #304f54;

      span {
        color: #fff;
      }

      i {
        color: #161619;
      }
    }
  }

  .search-label {
    margin: 0;
  }

  .search-icon {
    top: 45%;
    left: 10px;
    transform: translateY(-50%);
  }

  .data-source {
    position: absolute;
    top: 190px;
    right: 60px;
    bottom: 55px;
    left: 320px;
    padding: 20px;
    background: #2c3142;
    border-radius: 5px;

    h3,h4 {
      color: #a6b0cf;
    }

    h2 {
      font-size: 20px;
    }

    h3 {
      font-size: 14px;
    }

    h4 {
      margin-bottom: 0;
      font-size: 12px;
    }
  }

  .source-title {
    display: flex;
    justify-content: space-between;
  }

  .title-right {
    margin: 1rem 20rem 0 0;

    h2 {
      margin-bottom: 0;
    }
  }

  .table-wrapper {
    height: 89.8%;
    margin-top: 20px;
    overflow: hidden auto;
  }

  table {
    width: 100%;
  }

  th, td {
    padding: 10px 20px 10px 10px;
    border: 1px solid #2f3a4c;
  }

  tbody {
    tr:nth-child(odd) {
      background-color: #34384c;
    }
  }
}

.mono-app {
  .intelBar {
    background: #000011;
  }

  .scene-container {
    cursor: url("../images/wand_onClick.svg"), auto;
  }
}

.small-wand {
  position: absolute;
  top: 1.5rem;
  left: 21rem;

  background: transparent;
  border: 0;

  cursor: no-drop;
  opacity: .35;

  &.active {
    cursor: pointer;
    opacity: 1;
  }
}

.ReactModal__Overlay {
  // width: 30rem !important;
  // height: 30rem !important;
  // left: 28rem !important; 
  // top: -1rem !important;
  background: rgba(0,0,0,0.4) !important;

  opacity: 0;
  transform: translateX(-100px);
  transition: all 500ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
  transform: translateX(0px);
}

.ReactModal__Overlay--before-close {
  opacity: 0;
  transform: translateX(-100px);
}

.ReactModal__Content.ReactModal__Content--after-open {
  background: #cba02b !important;
  width: 28rem !important;
  left: 25rem !important;
  padding: 30px !important;
  height: 20rem !important;
  border: 0 !important;
  top: 4rem !important;

  h2 {
    color: #000;
    font-family: monospace;

    span {
      font-family: cursive;
    }
  }
}

.scrollable {
  -webkit-overflow-scrolling: touch;
  &::-webkit-scrollbar {
    width: 9px;
  }
  &::-webkit-scrollbar-thumb {
    margin-right: 2px;
    background: rgba(0,0,0,0.35);
    border-radius: 5px;
    cursor: pointer;
  }
  &::-webkit-scrollbar-track {
    background: rgba(0,0,0,0.1);
    transition: background .25s;
  }

  &:hover::-webkit-scrollbar-track {
    background: rgba(0,0,0,0.25);
    border-radius: 5px;
  }
}

.intelBar {
  .link {
    position: relative; 

    &:hover {
      .service-box {
        background: #0195a6;
  
        i, span {
          color: #1b474d;
        }
      }

      .service-container {
        border-color: #0195a6;
      }
    }
  }

  .link .fa-arrow-up-right-from-square, .link  .fa-map-location-dot {
    position: absolute;
    top: 10px;
    right: 10px;
    margin-right: 0;
    font-size: 20px;
    color: #818f92;
  }

  .fa-duotone {
    &::before {
      color: #a2f6ff;
    }

    &::after {
      color: #ffb0ce;
    }
  }

  .fa-arrow-up-right-from-square {
    color: #808f90;
  }

  .service-container {
    position: absolute;
    padding: 3px;
    width: 57px;
    height: 57px;
    top: 60%;
    right: 10%;
    border: 1px solid #ccc;
    border-radius: 50%;
    font-size: 10px;
    border-radius: 50%;
    transform: translateY(-50%);
    transition: all .35s;
  }

  .service-box {
    background: #7f7e81;
    border-radius: 50%;
    transition: all .35s;

    i, span {
      transition: all .35s;
    }

    i {
      font-size: 22px;
      margin-right: 0;
    }

    span {
      font-size: 13px;
      color: #212226;
    }
  }

  .service-icon {
    padding: 3px;
  }

  .service-icon, .service-text {
    text-align: center;
  }
}